<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>


  <appSettings>
    <!-- Application Under Test Settings -->
    <!-- Env Dev -->
    <add key="IdentityServerApiUrlDev" value="http://10.100.2.134/IdentityServer" />
    <add key="CCMSIMobileApiUrlDev" value="http://icedev.ccmsi.com/CCMSIMobileAPI/api" />
    <!-- Env UAT -->
    <add key="IdentityServerApiUrlTest" value="http://icetest.ccmsi.com/IdentityServer" />
    <add key="CCMSIMobileApiUrlTest" value="http://icetest.ccmsi.com/CCMSIMobileAPI/api" />

    <add key="JsonPlaceholderApiUrl" value="http://jsonplaceholder.typicode.com" />
    <add key="JsonPlaceholderApiUrl" value="http://jsonplaceholder.typicode.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Zukini.API" />
    </stepAssemblies>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit" />
  </specFlow>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
