<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- Test Execution Settings -->
    <!-- chrome, firefox, phantom, edge, ie,  -->
    <add key="GoogleUrl" value="https://www.google.com" />
    <add key="ClaimViewUrl" value="http://claimviewdev.ccmsi.com/" />
    <!-- Grid Settings - Add Url to Grid Hub here -->
    <add key="GridUrl" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
